"U2FsdGVkX1/YnEJis+r3O/IYPYb2DZGEiJLyYcXqvlG3zNbKxMIScFbWzHEK9Ao+xc4er8k45hAC8uXKtRrncJQIIt1UiVK7S8PwiH4z4Q19auQ49cLbKz4aCZnkNYghhvCZlo3NQMBii7l0gGb/9g==


<script src='http://js.tvcanales.cf/player/jquery.js'></script>
<script src='http://futbollibre.online/futbolLibre.js'></script>

<script src="//ssl.p.jwpcdn.com/player/v/8.0.12/jwplayer.js"></script>
<script>jwplayer.key = 'XSuP4qMl+9tK17QNb+4+th2Pm9AWgMO/cYH8CI0HGGr7bdjo';</script>
<div id="player"></div>
<script>


    var link = 'http://tvcanales.cf/channels/foxsportspremium.html';

    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", link, true);
    xhttp.send();
    xhttp.onreadystatechange = function() {
        if (xhttp.readyState == 4 && xhttp.status == 200) {

            var Response = xhttp.responseText;
            var arrPartes = Response .split("jwplayerxd(MarioCSdecrypt.dec(");
            var x = arrPartes[1];
            x = x.slice(0, 550);
            x = x.split("),")
            m3u8 = "U2FsdGVkX1/YnEJis+r3O/IYPYb2DZGEiJLyYcXqvlG3zNbKxMIScFbWzHEK9Ao+xc4er8k45hAC8uXKtRrncJQIIt1UiVK7S8PwiH4z4Q19auQ49cLbKz4aCZnkNYghhvCZlo3NQMBii7l0gGb/9g==";
            //document.write(MarioCSdecrypt.dec(m3u8.replace('"','')));

			var playerInstance = jwplayer("player");
            playerInstance.setup
            ({
               file: MarioCSdecrypt.dec(m3u8.replace('"','')),
               cast:{ },
               aspectratio: "16:9",
               primary: "html5",
               type: "hls",
               width: "100%",
               height: "100%",
               autostart: false,
               title: "Fox Sports Premium HD",
               description: "Ver en vivo el canal Fox Sports Premium sde manera gratuita.",
               image: 'http://futbollibre.online/img/fsp_back-footer.png',
               cast: {},
               sharing: 
                    {
                        link: "http://futbollibre.online/fox-sports-premium/"
                    },


            });
     
      
      
        }
    }
</script>
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="//ssl.p.jwpcdn.com/player/v/8.0.12/jwplayer.js">
</script>
<script src="//futbollibre.online/futbolLibre.js">
</script>
<script>
    jwplayer.key = 'XSuP4qMl+9tK17QNb+4+th2Pm9AWgMO/cYH8CI0HGGr7bdjo';
</script>
<div id="player"></div>
<script>
    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", "http://futbollibre.online/canales.json", true);
    xhttp.send();
    xhttp.onreadystatechange = function() {
        if (xhttp.readyState == 4 && xhttp.status == 200) {
            var jsonResponse = JSON.parse(xhttp.responseText);
            var m3u8 = jsonResponse['fox'];
      var playerInstance = jwplayer("player");
          playerInstance.setup({
         file: m3u8, 
         type: "hls",
         width: "100%",
         height: "100%",
         aspectratio: "16:9",
         autostart: false,
         cast:{},
         sharing: {},
           title: "Fútbol Libre TV - Fox Sports 1",
           description: "Ver el canal Fox Sports 1 de manera gratuita.",
           image: 'https://cdn3.skgcl.com/wp-content/uploads/2017/05/fox-sports-generic.png'
          });
               
        }
    }
</script>