<script src="//ssl.p.jwpcdn.com/player/v/8.0.12/jwplayer.js"></script><br />
<script>jwplayer.key = 'XSuP4qMl+9tK17QNb+4+th2Pm9AWgMO/cYH8CI0HGGr7bdjo';</script>

<script src='http://futbollibre.online/futbolLibre.js'></script>
<div id="player"></div>
<script>
	//'http://www.weiboelevator.com/upload/proxy.php?url', 'http://chinanuosenjiaju.com//upload/proxy.php?url', 'http://www.gohighgroup.com/upfile/upload/proxy.php?url',
   var sv = ['http://159.65.167.95/proxy.php?url', 'http://165.227.38.218/proxy.php?url', 'http://178.62.237.163/proxy.php?url']; 

	//var sv = [atob('aHR0cDovL3d3dy50ZWxldmlzaW9ucGFyYXRvZG9zLnR2L2FwZy5waHA/dQ==')]; 
   
   var get = sv[(Math.random() * sv.length) | 0];
   var playerInstance = jwplayer("player");
   		playerInstance.setup({
   			file: get+"=http://filesusc.com/fox.php?ch=2", 
   			type: "hls",
   			width: "100%",
   			height: "100%",
   			aspectratio: "16:9",
   			autostart: false,
   			cast:{},
   		}); /*
   	  						playerInstance.on("error", function() {
   							  playerInstance.setup({
   						            file: get+"=http://filesusc.com/fox.php?ch=2",
   						            aspectratio: "16:9",
   						            primary: "html5",
   							    type: "hls",
   						            width: "100%",
   						            height: "100%",
   							    cast:{ },
   						           autostart: false,
   						        });
   					        	playerInstance.play();
   							});*/
   
</script>
