<script src='https://content.jwplatform.com/libraries/wr6i4gal.js'></script>
<script src='http://futbollibre.online/futbolLibre.js'></script>

<script type='text/javascript' charset='utf-8' async='' src='http://ssl.p.jwpcdn.com/player/v/7.12.11/provider.hlsjs.js'></script>
		<div id="player"></div>
		<script>
		var sv = ['http://159.65.167.95/proxy.php?url', 'http://www.weiboelevator.com/upload/proxy.php?url', 'http://chinanuosenjiaju.com//upload/proxy.php?url', 'http://www.gohighgroup.com/upfile/upload/proxy.php?url', "http://ultra-party.appspot.com/index.php?url"]; 
               //var sv = [atob('aHR0cDovL3d3dy50ZWxldmlzaW9ucGFyYXRvZG9zLnR2L2FwZy5waHA/dQ==')]; 

		var get = sv[(Math.random() * sv.length) | 0];
		var playerInstance = jwplayer("player");
				playerInstance.setup({
					file: get+"=http://filesusc.com/fox.php?ch=3", 
					type: "hls",
					width: "100%",
					height: "100%",
					aspectratio: "16:9",
					autostart: false,
					cast:{},
				});
		</script>
