<script src="//ssl.p.jwpcdn.com/player/v/8.0.12/jwplayer.js">
</script>
<script src="//futbollibre.online/futbolLibre.js">
</script>
<script>
    jwplayer.key = 'XSuP4qMl+9tK17QNb+4+th2Pm9AWgMO/cYH8CI0HGGr7bdjo';
</script>
<div id="player"></div>
<script>
  
    var proxy = [
    "http://ultra-party.appspot.com/index.php?url=",
    "https://thingproxy.freeboard.io/fetch/",
    "http://cors.hyoo.ru/",
    "https://cors.now.sh/",
    "prox",
    "http://www.gohighgroup.com/upfile/upload/proxy.php?url=",
    "https://cors-anywhere.herokuapp.com/",
	"http://159.65.167.95/proxy.php?url=", 
	"http://165.227.38.218/proxy.php?url=", 
	"http://178.62.237.163/proxy.php?url=",
	"http://159.65.45.145/proxy.php?url=",
	"http://159.89.241.32/proxy.php?url=",
	"http://159.89.242.253/proxy.php?url="
	    
    ],
    link = proxy[Math.floor(Math.random() * proxy.length)];
    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", link+"http://filesusc.com/apgl/tnt2.json", true);
    xhttp.send();
    xhttp.onreadystatechange = function() {
        if (xhttp.readyState == 4 && xhttp.status == 200) {
            var jsonResponse = JSON.parse(xhttp.responseText);
            var m3u8 = jsonResponse['tnt'];
			var playerInstance = jwplayer("player");
   		    playerInstance.setup({
   			 file: m3u8, 
   			 type: "hls",
   			 width: "100%",
   			 height: "100%",
   			 aspectratio: "16:9",
   			 autostart: false,
   			 cast:{},
   		    });
               
        }
    }
</script>