
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="//ssl.p.jwpcdn.com/player/v/8.0.12/jwplayer.js">
</script>
<script src="//futbollibre.online/futbolLibre.js">
</script>
<script>
    jwplayer.key = 'XSuP4qMl+9tK17QNb+4+th2Pm9AWgMO/cYH8CI0HGGr7bdjo';
</script>
<div id="player"></div>
<script>
    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", "http://futbollibre.online/canales.json", true);
    xhttp.send();
    xhttp.onreadystatechange = function() {
        if (xhttp.readyState == 4 && xhttp.status == 200) {
            var jsonResponse = JSON.parse(xhttp.responseText);
            var m3u8 = jsonResponse['espn2'];
      var playerInstance = jwplayer("player");
          playerInstance.setup({
         file: m3u8, 
         type: "hls",
         width: "100%",
         height: "100%",
         aspectratio: "16:9",
         autostart: false,
         cast:{},
         sharing: {},
           title: "Fútbol Libre TV - ESPN 2",
           description: "Ver el canal ESPN 2 de manera gratuita.",
           image: 'https://www.otvfoco.com.br/wp-content/uploads/2015/01/espn_internacional-7fe150cc489a7e6ccd5e5981a1f8c59b.jpg'
          });
               
        }
    }
</script>