<meta charset="utf-8">
<script type="text/javascript">
	
    var proxy = ["http://hls.futbollibre.online/hls/?canal="];
    var canal = "win";
    var titulo = "Fútbol Libre TV - Win Sports";
    var des = "Mirar el canal Win Sports de manera gratuita";
    var img = "http://futbollibre.online/img/win_back-footer.png";
</script>
<script src="../js/liberar.js"></script>