<meta charset="utf-8">
<script type="text/javascript">
	
    var proxy = ["http://hls.futbollibre.online/hls/?canal="];
    var canal = "foxsportspremium";
    var titulo = "Fútbol Libre TV - Fox Sports Premium";
    var des = "Mirar el canal Fox Sports Premium de manera gratuita";
    var img = "//futbollibre.online/img/fsp_back-footer.png";
</script>
<script src="../js/liberar.js"></script>