<meta charset="utf-8">
<script type="text/javascript">
	
    var proxy = ["http://hls.futbollibre.online/hls/?canal="];
    var canal = "espn2";
    var titulo = "Fútbol Libre TV - ESPN 2";
    var des = "Mirar el canal ESPN 2 de manera gratuita";
    var img = "https://www.otvfoco.com.br/wp-content/uploads/2015/01/espn_internacional-7fe150cc489a7e6ccd5e5981a1f8c59b.jpg#https://img.talkandroid.com/uploads/2015/12/ESPN-Logo.png";
</script>
<script src="../js/liberar.js"></script>