<script type="text/javascript">
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
</script>
<script type='text/javascript'>
    if (document.body) {
        var ancho = (document.body.clientWidth);
        var alto = (document.body.clientHeight);
    } else {
        var ancho = (window.innerWidth);
        var alto = (window.innerHeight);
        width = ancho;
        height = alto;
    }
    var getChannel = getParameterByName('get');
    channel = getChannel;
    e = '1';
    h = '1';
</script>
<script type='text/javascript' src='get.js'></script> 
<noscript>
<p>Debes activar Javascript para poder ver este reproductor.</p>
<meta http-equiv="refresh" content="0; url=http://futbollibre.online"/>
</noscript>