<meta charset="utf-8">
<script type="text/javascript">
	
    var proxy = ["http://159.65.45.145/canal/?canal="];
    var canal = "directv";
    var titulo = "Fútbol Libre TV - DirecTV Sports";
    var des = "Mirar el canal DirecTV Sports de manera gratuita";
    var img = "";
</script>
<script src="../js/liberar.js"></script>