<meta charset="utf-8">
<script type="text/javascript">
	
    var proxy = ["http://hls.futbollibre.online/hls/?canal="];
    var canal = "golperu";
    var titulo = "Fútbol Libre TV - Gol Perú";
    var des = "Mirar el canal Golperu de manera gratuita";
    var img = "http://futbollibre.online/img/golperu_back-footer.pn";
</script>
<script src="../js/liberar.js"></script>