<script>var adParams = {s: 1000342584, w: 854, h: 480, c: 3, type: 6, devices: 'all', blank: false};</script><script src="//cdn.viralcpm.com/js/ad.js"></script>
<B>Opción 1:
	<script>var adParams = {s: 1000344320, w: 300, h: 250, c: 3, blank: false}; </script><script src="//cdn.viralcpm.com/js/ad.js"></script>
<script type="text/javascript">id="espn2"; width="100%"; height="450";</script><script type="text/javascript" src="http://js.latino-webtv.com/embed.js"></script><br />
<p>Opción 2:</p>
<script>var adParams = {s: 1000344320, w: 300, h: 250, c: 3, blank: false}; </script><script src="//cdn.viralcpm.com/js/ad.js"></script>
<iframe src="http://widestream.io/embed-23442" width="100%" height="450" frameborder="0" scrolling="no" allowfullscreen="allowfullscreen"></iframe></p>
<script>section=1000342533;popTimes=3222222;channel=3;captureFirstClick=true;</script><script src="//cdn.viralcpm.com/js/pop.js"></script>
