<meta charset="utf-8">
<script type="text/javascript">
	
    var proxy = ["http://hls.futbollibre.online/hls/?canal="];
    var canal = "tntsports";
    var titulo = "Fútbol Libre TV - TNT Sports";
    var des = "Mirar el canal TNT Sports de manera gratuita";
    var img = "//futbollibre.online/img/tnt_back-footer.png";
</script>
<script src="../js/liberar.js"></script>