<meta charset="utf-8">
<script type="text/javascript">
	
    var proxy = ["http://hls.futbollibre.online/hls/?canal="];
    var canal = "Fox-Sports-3";
    var titulo = "Fútbol Libre TV - Fox Sports 3";
    var des = "Mirar el canal Fox Sports 3 de manera gratuita";
    var img = "https://cdn3.skgcl.com/wp-content/uploads/2017/05/fox-sports-generic.png";
</script>
<script src="../js/liberar.js"></script>