
                        <iframe src="http://tvcanales.cf/channels/telefe.html" height="100%" width="100%" scrolling="no" frameBorder="0" alt="Ver en vivo TELEFE Online por Internet" allowfullscreen></iframe>
                     <!--
                        <script src="//ssl.p.jwpcdn.com/player/v/8.0.12/jwplayer.js">
                        </script>
                        <script src="//futbollibre.online/futbolLibre.js">
                        </script>
                        <script>
                            jwplayer.key = 'XSuP4qMl+9tK17QNb+4+th2Pm9AWgMO/cYH8CI0HGGr7bdjo';
                        </script>
                        <div id="player"></div>
                        <script>

                            var xhttp = new XMLHttpRequest();
                            xhttp.open("GET", "http://159.65.45.145/telefe.php", true);
                            xhttp.send();
                            xhttp.onreadystatechange = function() {
                                if (xhttp.readyState == 4 && xhttp.status == 200) {

                                    var jsonResponse = JSON.parse(xhttp.responseText);
                                    var m3u8 = jsonResponse['telefe'];

                                   a = jwplayer("player");
                                    a.setup({
                                        file: m3u8,
                                        aspectratio: "16:9",
                                        withCredentials: true,
                                        primary: "html5",
                                        type: "hls",
                                        width: "100%",
                                        height: "100%",
                                        cast: {},
                                        autostart: !1
                                    }), a.on("error", function() {
                                        theTimeout = setTimeout(function() {
                                            intentos += 1, console.log(intentos), intentos < 4 ? (xhttp = new XMLHttpRequest, randd = Math.floor(1e4 * Math.random() + 1), xhttp.open("GET", atob(jsonurlx) + "?" + randd, !0), xhttp.send(), xhttp.onreadystatechange = function() {
                                                4 == xhttp.readyState && 200 == xhttp.status && (t = JSON.parse(xhttp.responseText), e = t.tnt, a.load({
                                                    file: e
                                                }), a.play())
                                            }) : (a.setup({
                                                file: m3u8,
                                                aspectratio: "4:3",
                                                withCredentials: true,
                                                primary: "html5",
                                                type: "hls",
                                                width: "100%",
                                                height: "100%",
                                                cast: {},
                                                autostart: !1
                                            }), a.play())
                                        }, 3e3)
                                    }), a.on("play", function() {
                                        clearTimeout(theTimeout)
                                    })
                                    
                                }
                            }
                        </script>-->